




/* crystal ball graphic */
/* :root {
    --pink: #F291A1;
    --pink-light: #F9C5CE;
    --tabletop-color: #492875;
    --tabletop-color-dark: 
  #261757
  ;
  }
  
  body{
    background: #edfcfc
  ;
  }
  
  .box-canvas{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 200px;
    height: 250px;
  }
  
  .box-canvas::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background: radial-gradient(var(--pink), 20%, transparent);
    border-radius: 50%;
    top: -10px;
  }
  
  .ball {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background:radial-gradient(at top right,
      rgba(156, 238, 255),
      rgba(141, 89, 225)
    );
    border-radius: 50%;
  }
  
  .ball::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(rgba(255,255,255,0.2), 70%, rgba(141, 89, 225, 0.2));
    border-radius: 50%;
  }
  
  .ball::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 20px;
    width: 15px;
    height: 40px;
    border-radius: 50%;
    box-shadow: -5px -3px 0 rgba(156, 238, 255, 0.8);
    transform: rotate(40deg);
  }
  
  .stand {
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
    width: 65px;
    background: linear-gradient(to right, 
      var(--pink), 
      10%, 
      transparent, 
      90%, var(--pink)
    ), 
      linear-gradient(
        var(--pink), 
        10%, 
        var(--pink-light)
      );
    height: 15px;
    border-radius: 20%;
  }
  
  .stand::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 15px;
    top: 8px;
    left: -5px;
    background: linear-gradient(to right, 
      var(--pink), 
      10%, 
      transparent, 
      90%, var(--pink)
    ), 
      linear-gradient(
        var(--pink), 
        10%,
        var(--pink-light)
      );
    border-radius: 20%;
    border-bottom: 1px solid var(--pink);
  }
  
  .tabletop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    width: 200px;
    height: 150px;
    border-radius: 0 0 20% 20%;
    background: linear-gradient(to right,
      var(--tabletop-color),
      var(--tabletop-color-dark),
      var(--tabletop-color) 40px,
      var(--tabletop-color) 80px,
      var(--tabletop-color-dark),
      var(--tabletop-color) 120px,
      var(--tabletop-color) 160px,
      var(--tabletop-color-dark),
      var(--tabletop-color)
    );
  }
  
  .tabletop::before {
    content: '';
    position: absolute;
    top: -25px;
    width: 200px;
    height: 50px;
    background: var(--tabletop-color);
    border-radius: 50%;
    border-bottom: 2px solid var(--tabletop-color-dark);
  }
  
  .ruffle {
    position: absolute;
    width: 60px;
    height: 50px;
    background: var(--tabletop-color);
    top: 220px;
    border-radius: 50%;
  }
  
  .ruffle.left {
     left: 30px;
  }
  
  .ruffle.right {
     right: 30px;
  } */
